@import './open-color';

$gray-0: $oc-gray-0;
$gray-1: $oc-gray-1;
$gray-2: $oc-gray-2;
$gray-3: $oc-gray-3;
$gray-4: $oc-gray-4;
$gray-5: $oc-gray-5;
$gray-6: $oc-gray-6;
$gray-7: $oc-gray-7;
$gray-8: $oc-gray-8;
$gray-9: $oc-gray-9;

$blue: #46bee0;
$green: #01c08b;
$yellow: #fbc939;
$red: #de564e;

$primary: $green;
$primary-hover: lighten($primary, 55%);
$primary-active: lighten($primary, 50%);